@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    background:linear-gradient(var(--primary-color),var(--third-color),var(--four-color), var(--secondary-color));
    /* text-shadow: 3px 3px chartreuse;; */ 
}
:root{
    --primary-color:#A78BFA;
    --secondary-color: #8B5CF6;
    --third-color:#C4B5FD;
    --four-color:#60A5FA;

}
h1{
    font-size: 2rem;
    font-weight: bold;
    /* background:linear-gradient(var(--primary-color),var(--third-color)); */
    text-align: center;
    padding: 1.5rem;
    color: white;
    text-shadow:3px 3px black ;  /* horizantal shadow , vertical shadow*/

}
textarea{
    box-sizing: border-box;
    height: 130px;
    width: 600px; 
    margin: 2rem auto;
    display: block;
    font-size: large;
    font-family: inherit;
    border-radius: 4px;
    border: 2px solid black;
}
button{
    background-color: var(--secondary-color);
    color:white;
    height: 60px;
    width: 220px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    border: 2px solid black;
    margin-left: 382px;
    padding: 1rem 0rem;
    text-align: center;
    border-radius: 4px;
    text-shadow:2px 2px black ;
}
button:hover{
    background-color: var(--third-color);
    color:black;
    text-shadow: 2px 2px white;
}
.translation{
    margin-left:365px ;
    padding: 0rem 1rem;
    margin-top: 1rem;
    color: rgb(245, 243, 243);
    font-weight: bold;
    
}
#text-output{
    margin-top: 0rem;
    box-sizing: border-box;
    overflow: scroll;
    height: 120px;
    width: 600px;
    border: 2px solid black;
    border-radius: 4px;
}
h2{
    padding-bottom: 1rem; 
    text-align: center; 
    font-weight: bold; 
    color: white;
    text-shadow: 2px 2px black;
}
p{
    text-align: center;
    color: white;
    font-size: 1rem;
    display: block;
}
/* footer{
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    font-weight: bold;
}
footer p{
    max-width: 600px;
    margin: auto;
    
} */